<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet vue WIS</title>
</head>


    <body>
        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/8/88/Nantes_logo.svg/2560px-Nantes_logo.svg.png" alt="Logo de la ville de Nantes" width="200px" height="auto">

        <div id="myapp">


            <h3 class="text-center mb-4">Retrouvez les événements de la ville de Nantes et ses alentours !</h3>

            <div v-if="facet_groups.length > 0" v-for="x in facet_groups">
                <div v-if="x.name == 'emetteur'">
                    <div v-if="x.facets.length > 0" v-for="y in x.facets">
                        <h4 class="ms-3">{{y.name}}</h4>
                        <div>
                            <div class="m-3">
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div v-if="records.length > 0" v-for="evt in records">
                                        <div v-if="y.name == evt.fields.emetteur">
                                            <div class="col">
                                                <div class="card">
                                                    <p class="card-header">{{evt.fields.date}}</p>
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{evt.fields.lieu}}</h5>
                                                        <p class="card-subtitle mb-2 text-muted">{{evt.fields.type}}</p>
                                                        <p class="card-text" >{{couperdescription(evt.fields.description)}}</p>
                                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Plus d'infos</button>
                                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-scrollable">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{evt.fields.lieu}}</h1>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p class="text-muted">Type: {{evt.fields.type}}</p>
                                                                        <p>Date et horaires: {{evt.fields.date}} - {{evt.fields.heure_debut}}</p>
                                                                        <p>Adresse: {{evt.fields.adresse}} - {{evt.fields.ville}} {{evt.fields.code_postal}}</p>
                                                                        <p>Description: {{evt.fields.description}}</p>
                                                                        <p>Tarifs: {{evt.fields.precisions_tarifs}}</p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                                        <button type="button" class="btn btn-primary disabled">Réserver</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue@3"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script>
            const apiURL = "https://data.nantesmetropole.fr/api/records/1.0/search/?dataset=244400404_agenda-evenements-nantes-nantes-metropole&q=&facet=emetteur&facet=rubrique&facet=lieu&facet=ville&facet=lieu_quartier"
            const myappdata = {
                data(){
                    return {
                        responsedata: {},
                        records: [],
                        facet_groups: [],
                        fields: {},
                        facets: []
                    }
                }, 
                methods : {
                    async fetchApi(){
                        await axios.get(apiURL)
                        .then((response)=>{
                            console.log(response)
                            this.responsedata = response.data
                            this.records = response.data.records
                            this.facet_groups = response.data.facet_groups

                            //for(field in this.fields){
                            //    console.log("ok")
                            //    field = records.field
                            //    
                            //}
                            
                        })
                        .catch((error)=>{
                            console.log(error)
                        })
                    },
                    couperdescription(texte){
                        if(texte.length > 120){
                            return texte.slice(0,120) + "..."
                        }else{
                            return texte.slice(0,120)
                        }
                    }
                    //formatdate(date){
                    //    return date ?? ('MM/DD/YYYY');
                    //}
                },
                mounted(){
                    this.fetchApi()
                }
            }
            const myapp = Vue.createApp(myappdata).mount("#myapp")
        </script>
    </body>
</html>